@{ }
        <table class="col-sm-12 table-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="container">
                            <div class="row">
                                <tr>

                                    <th class="col-sm-3 table-header-item">Student ID</th>
                                    <th class="col-sm-3 table-header-item">First Name</th>
                                    <th class="col-sm-3 table-header-item">Last Name</th>
                                    <th class="col-sm-3 table-header-item">Major</th>

                                </tr>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-10 col-sm-offset-1">
                            @{foreach (var student in ViewBag.Students)
                                {
                                    <tr class="table-row">
                                        <td class="table-data-item">@student.StudentID</td>
                                        <td class="table-data-item">@student.FirstName</td>
                                        <td class="table-data-item">@student.LastName</td>
                                        <td class="table-data-item">@student.Major</td>
                                    </tr>
                                }
                            }
                    </div>
                </div>
            </div>
        </table>